<div class="card mb-3">
    <img src="../../../assets/imgs/maxresdefault.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h1 class="card-title">SPA
            <small> Amine Page </small>
        </h1>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officiis dolores incidunt vitae perferendis ea velit alias ab, dolor distinctio reprehenderit explicabo, ullam autem molestias cum saepe libero ad veritatis?.</p>
        <p class="card-text"><small class="text-muted">&copy; Ivan Productions</small></p>
    </div>
</div>